<!DOCTYPE html>
<!--[if lte IE 7]>      <html class="no-js ie7 lte8 lte9" lang="en">    <![endif]-->
<!-- IE 7 and below  -->
<!--[if IE 8]>          <html class="no-js ie8 lte8 lte9" lang="en">    <![endif]-->
<!-- IE 8 and below  -->
<!--[if IE 9]>          <html class="no-js ie9 lte9" lang="en">         <![endif]-->
<!-- IE 9 and below  -->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--<![endif]-->
<!-- IE 10+  -->

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE" th:text="#{Minano}">Minano</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div layout:fragment="container">
  

</div>
</body>

</html>
